
   <html>
    <head>
<script>
   


$(document).ready(function() {

setTimeout(function(){


$('#mainContainerPopup').toggle();
$('#mapContainer2').toggle();
 

	 var geocoder = new google.maps.Geocoder();
         
       
     {if !isset($main)}
    var defLat = 53.5;
    var defLong = -8 ;
    var mylatlong=defLat+','+defLong;
    var zoom=7;
    {else}
    var defLat = 53.3046;
    var defLong = -4.0430 ;
    var mylatlong=defLat+','+defLong;
    var zoom=6;
        {/if}
      
      {if isset($GeoTag)}
    var defLat = {$GeoTag.lat|default:"53.5"};
    var defLong = {$GeoTag.lng|default:"-4.05"};
    var mylatlong=defLat+','+defLong;
    var zoom=7;
      {/if}
       
          
        // console.log(mylatlong);
$('#map_canvas').gmap({ 'center':  mylatlong, 'zoom':zoom}).bind('init', function(event, map) { 
	
       
	{if $adr!=""}
             geocoder.geocode({ 'address' : "{$adr}"}, function(results, status){
       for(i=0;i<results.lenght;i++){
       
       
    var defLat = results[i].geometry.location.lat();
    var defLong =results[i].geometry.location.lng();
    var mylatlong=defLat+','+defLong;
     $('#map_canvas').gmap('addMarker', {
			'position': mylatlong, 
			'draggable': true , 
			'bounds': false
		}, function(map, marker) {
			
			findLocation(marker.getPosition(), marker);
		}).dragend( function(event) {
			findLocation(event.latLng, this);
		}).click( function(event) {
			findLocation(event.latLng, this);
		})
    }
   });
    
             {/if}
     
     	{if isset($GeoTag)}
             
       var defLat = {$GeoTag.lat|default:"53.5"};
    var defLong = {$GeoTag.lng|default:"-4.05"};
    var mylatlong=defLat+','+defLong;
    var zoom=7;
       
    
     $('#map_canvas').gmap('addMarker', {
			'position': mylatlong, 
			'draggable': true , 
			'bounds': false
		}, function(map, marker) {
			
			findLocation(marker.getPosition(), marker);
		}).dragend( function(event) {
			findLocation(event.latLng, this);
		}).click( function(event) {
			findLocation(event.latLng, this);
		})
   
    
             {/if}
        
        $(map).click( function(event) {
               $('#map_canvas').gmap('clear', 'markers');
		$('#map_canvas').gmap('addMarker', {
			'position': event.latLng, 
			'draggable': true, 
			'bounds': false
		}, function(map, marker) {
			//$('#dialog').append('');
			findLocation(marker.getPosition(), marker);
		}).dragend( function(event) {
			findLocation(event.latLng, this);
		}).click( function(event) {
			findLocation(event.latLng, this);
		})
	

        
});
});	

 {if $adr!=""}
             geocoder.geocode({ 'address' : "{$adr}"}, function(results, status){
       for(i=0;i<results.length;i++){
       
       
    var defLat = results[i].geometry.location.lat();
    var defLong =results[i].geometry.location.lng();
    var mylatlong=defLat+','+defLong;
     $('#map_canvas').gmap('addMarker', {
			'position': mylatlong, 
			'draggable': true , 
			'bounds': false
		}, function(map, marker) {
			
			findLocation(marker.getPosition(), marker);
		}).dragend( function(event) {
			findLocation(event.latLng, this);
		}).click( function(event) {
			findLocation(event.latLng, this);
		})
    }
   });
    
             {/if}


}, 500);
   
});
function findLocation(location, marker) {
	$('#map_canvas').gmap('search', { 'location': location}, function(results, status) {
		if ( status === 'OK' ) {
			////console.log(results);
				
				$('#addLat').val(location.lat());	
				$('#addLng').val(location.lng());	
			$('#gadressmap').html(results[0].formatted_address);
			$('#gadressmapGeotag').html(location.lat().toFixed(4)+','+location.lng().toFixed(4));
			//marker.setTitle(results[0].formatted_address);
			
			//openDialog(marker);
		}
	});
}

function setvalue()
{
$('#{$id}').val($('#gadressmapGeotag').html());
$.colorbox.close();
}

function searchPoint(){
var s=$('#pointSearchArea').val();
 var geocoder = new google.maps.Geocoder();
$('#map_canvas').gmap('clear', 'markers');
 geocoder.geocode({ 'address' : s.split(' ').join('+')}, function(results, status){

if(status=="ZERO_RESULTS"){
alert("Nothing found");
}else{
//console.log(results);
       for(i=0;i<results.length;i++){
       
      
    var defLat = results[i].geometry.location.lat();
    var defLong =results[i].geometry.location.lng() ;
    var mylatlong=defLat+','+defLong;
   ////  console.log(results[i].address_components[3].short_name.length);
   cf=new Array("GB","IE");
   for(g=0;g<results[i].address_components.length;g++){
   //console.log(results[i].address_components[g].short_name);
   
  if(cf.indexOf(results[i].address_components[g].short_name)){
     $('#map_canvas').gmap('addMarker', {
			'position': mylatlong, 
			'draggable': true , 
			'bounds': false
		}, function(map, marker) {
			
			findLocation(marker.getPosition(), marker);
		}).dragend( function(event) {
			findLocation(event.latLng, this);
		}).click( function(event) {
			findLocation(event.latLng, this);
		})
    }
   break;
  }
    
    }
    }
   });
}

function setSesGeoTag(){

 $.post("{$_subdomain}/Diary/setSesGeoTag",{ g: $('#gadressmapGeotag').html()},
function(data) {

window.location="{$_subdomain}/Diary/";
});
}

function showAllPhone(){
$('#onePhone').toggle();
$('.allphone').toggle();
$.colorbox.resize();
}
</script>
  </head>
    
    <body>
   <div id="map_canvas" style="width:600px; height:600px;border:1px solid black;float:left;" ></div>
     <div id="dfdds" style="float:right;border: 0px solid;padding:20px;margin-left:0px;width:250px">
<!--          Skyline postcode geotaging module V 1.01-->
{if isset($main)}
    <h2>Unrecognised Postcode</h2>
    <p style="float:rigth">We are unable to locate the appointment postcode: <span style="color:red;font-size:16px;text-transform:uppercase;">{$adr|replace:'+':' '}</span></p>
    <p>Address: {$adress}</p>  
    <p>
       
    <table>
    {if isset($iData.CustMobileNo)}
        {if $iData.CustMobileNo!=""}{$ctel=$iData.CustMobileNo}{$cType="Mobile Tel"}
        {elseif $iData.CollContactNumber!=""}{$ctel=$iData.CollContactNumber}{$cType="Collection Tel"}
        {elseif $iData.CustHomeTelNo!=""}{$ctel=$iData.CustHomeTelNo}{$cType="Home Tel"}
        {else}{$ctel=$iData.CustWorkTelNo}{$cType="Work Tel"}
        
        {/if}
        <tr id="onePhone"><td>{$cType}:</td><td>{$ctel}  <a style="cursor:pointer" onclick="showAllPhone()">more...</a></td></tr>
        <tr class="allphone" style="display:none"><td style="background:none">Mobile Tel:</td><td style="background:none">{$iData.CustMobileNo}</td></tr>
        <tr class="allphone" style="display:none"><td style="background:none">Home Tel:</td><td style="background:none">{$iData.CustHomeTelNo}</td></tr>
        <tr class="allphone" style="display:none"><td style="background:none">Work Tel:</td><td style="background:none">{$iData.CustWorkTelNo}</td></tr>
        <tr class="allphone" style="display:none"><td style="background:none">Coll/Del Tel:</td> <td style="background:none">{$iData.CollContactNumber} <a style="cursor:pointer;position:relative;float:right" onclick="showAllPhone()">less...</a></td></tr>
       
        {/if}</table>
    </p>
    <hr>
        <p>
      Be aware that new housing estates may not be plotted by Google and therefore cannot be located automatically.  
        
        </p>
        <p>
       Please edit the address in the search box below to find the location of the appointment.   You can use satellite view and street view to ensure you have the correct address.
        </p>


{else}
<p style="float:rigth">To modify GeoTag of selected postcode please drag the marker in the map to the point you want to specify for this postcode. You can zoom into the map to get precise appointment location.</p>
      {/if}      
<form id="marker" name="marker" method="post" action="#">
               
          <table style="width:220px">
              
             <tr {if isset($main)} style="display:none"{/if}>
                  <td style="width:200px;text-align: left">Formated address:</td>
                  <td> <span id="gadressmap" class="txt" name="country" value=""/></span></td>
              </tr>
               <tr {if isset($main)} style="display:none"{/if}>
                  <td style="width:200px;text-align: left">Formated GeoTag:</td>
                  <td> <span id="gadressmapGeotag" class="txt" name="country" value=""/></span></td>
              </tr>
            
              <tr>
                  <td colspan=3><label>Search for Address</label><textarea id="pointSearchArea" style="height:100px;width:230px;text-transform:uppercase;">{$adr|replace:'+':' '}</textarea></td>
                  </tr>
             
              <tr>
                  <td colspan=3 style="text-align:center;background:none"><button type="button" onclick="searchPoint();" class="btnStandard">Search for Address</button></td>
                  
              </tr> 
              <tr>
                  <td colspan="3">To confirm the location drop the pin on the map and select “Confirm Address”  </td>
              </tr>
              <tr>
                   <td colspan=3 style="text-align:center;background:none"><button style="width:160px" type="button" onclick="{if isset($main)}setSesGeoTag();{else}setvalue();{/if}" class="btnStandard" >Confirm Address</button></td>
              </tr>
                  
          
          </form>
           </table>
      </div>

      
 
                     
   </body>
   </html>
       