

{block name=config}
{$Title = ""}
{$PageId = 0}


<!--needs changing ask Nag or Brian-->
{/block}

{block name=scripts}

        
        <script type="text/javascript" src="{$_subdomain}/js/jquery-1.7.1.js"></script>
<script>
    $(document).ready(function() {
    $.post("{$_subdomain}/Login/index",{ name:'{$get.name}',password:'{$get.password}' },
function(data) {

window.location="{$_subdomain}/Diary/default/{foreach from=$get key=k item=v}{$k}={$v}/{/foreach}dd=1";

});});
</script>
{/block}
