/* --------------------------------------------------------------

   grid.css
   * Sets up an easy-to-use grid of x columns.

   By default, the grid is 950px wide, with 24 columns
   spanning 30px, and a 10px margin between columns.

   If you need fewer or more columns, namespaces or semantic
   element names, the following

-------------------------------------------------------------- */

@siteWidth: (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

/* A container should group all your columns. */
.container {
  width: @siteWidth;
  margin: 0 auto;
  /* Regular clearing
     apply to column that should drop below previous ones. */
  .row, .clear { clear:both; }
}

/* Use this class on any .span / container to see the grid. */
.showgrid  { background:url(lessblue/grid.png); background-size: @sitewidth; }


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}

.clearfix, .container { display: block;}

div.left { float:left; }
div.right { float:right; }

/* Blueprint Span Classes
   Included for compatibility with regular Blueprint CSS.
   Comment these out if not needed 
-------------------------------------------------------------- */

.span-1 { .span (1); }
.span-2 { .span (2); }
.span-3 { .span (3); }
.span-4 { .span (4); }
.span-5 { .span (5); }
.span-6 { .span (6); }
.span-7 { .span (7); }
.span-8 { .span (8); }
.span-9 { .span (9); }
.span-10 { .span (10); }
.span-11 { .span (11); }
.span-12 { .span (12); }
.span-13 { .span (13); }
.span-14 { .span (14); }
.span-15 { .span (15); }
.span-16 { .span (16); }
.span-17 { .span (17); }
.span-18 { .span (18); }
.span-19 { .span (19); }
.span-20 { .span (20); }
.span-21 { .span (21); }
.span-22 { .span (22); }
.span-23 { .span (23); }
.span-24 { .span (24); .last; }

input.span-1, textarea.span-1 { .input_span (1); }
input.span-2, textarea.span-2 { .input_span (2); }
input.span-3, textarea.span-3 { .input_span (3); }
input.span-4, textarea.span-4 { .input_span (4); }
input.span-5, textarea.span-5 { .input_span (5); }
input.span-6, textarea.span-6 { .input_span (6); }
input.span-7, textarea.span-7 { .input_span (7); }
input.span-8, textarea.span-8 { .input_span (8); }
input.span-9, textarea.span-9 { .input_span (9); }
input.span-10, textarea.span-10 { .input_span (10); }
input.span-11, textarea.span-11 { .input_span (11); }
input.span-12, textarea.span-12 { .input_span (12); }
input.span-13, textarea.span-13 { .input_span (13); }
input.span-14, textarea.span-14 { .input_span (14); }
input.span-15, textarea.span-15 { .input_span (15); }
input.span-16, textarea.span-16 { .input_span (16); }
input.span-17, textarea.span-17 { .input_span (17); }
input.span-18, textarea.span-18 { .input_span (18); }
input.span-19, textarea.span-19 { .input_span (19); }
input.span-20, textarea.span-20 { .input_span (20); }
input.span-21, textarea.span-21 { .input_span (21); }
input.span-22, textarea.span-22 { .input_span (22); }
input.span-23, textarea.span-23 { .input_span (23); }
input.span-24, textarea.span-24 { .input_span (24); }

.append-1 { .append (1); }
.append-2 { .append (2); }
.append-3 { .append (3); }
.append-4 { .append (4); }
.append-5 { .append (5); }
.append-6 { .append (6); }
.append-7 { .append (7); }
.append-8 { .append (8); }
.append-9 { .append (9); }
.append-10 { .append (10); }
.append-11 { .append (11); }
.append-12 { .append (12); }
.append-13 { .append (13); }
.append-14 { .append (14); }
.append-15 { .append (15); }
.append-16 { .append (16); }
.append-17 { .append (17); }
.append-18 { .append (18); }
.append-19 { .append (19); }
.append-20 { .append (20); }
.append-21 { .append (21); }
.append-22 { .append (22); }
.append-23 { .append (23); }

.prepend-1 { .prepend (1); }
.prepend-2 { .prepend (2); }
.prepend-3 { .prepend (3); }
.prepend-4 { .prepend (4); ;}
.prepend-5 { .prepend (5); }
.prepend-6 { .prepend (6); }
.prepend-7 { .prepend (7); }
.prepend-8 { .prepend (8); }
.prepend-9 { .prepend (9); }
.prepend-10 { .prepend (10); }
.prepend-11 { .prepend (11); }
.prepend-12 { .prepend (12); }
.prepend-13 { .prepend (13); }
.prepend-14 { .prepend (14); }
.prepend-15 { .prepend (15); }
.prepend-16 { .prepend (16); }
.prepend-17 { .prepend (17); }
.prepend-18 { .prepend (18); }
.prepend-19 { .prepend (19); }
.prepend-20 { .prepend (20); }
.prepend-21 { .prepend (21); }
.prepend-22 { .prepend (22); }
.prepend-23 { .prepend (23); }

.pull-1 { .pull (1); }
.pull-2 { .pull (2); }
.pull-3 { .pull (3); }
.pull-4 { .pull (4); }
.pull-5 { .pull (5); }
.pull-6 { .pull (6); }
.pull-7 { .pull (7); }
.pull-8 { .pull (8); }
.pull-9 { .pull (9); }
.pull-10 { .pull (10); }
.pull-11 { .pull (11); }
.pull-12 { .pull (12); }
.pull-13 { .pull (13); }
.pull-14 { .pull (14); }
.pull-15 { .pull (15); }
.pull-16 { .pull (16); }
.pull-17 { .pull (17); }
.pull-18 { .pull (18); }
.pull-19 { .pull (19); }
.pull-20 { .pull (20); }
.pull-21 { .pull (21); }
.pull-22 { .pull (22); }
.pull-23 { .pull (23); }
.pull-24 { .pull (24); }

.push-1 { .push (1); }
.push-2 { .push (2); }
.push-3 { .push (3); }
.push-4 { .push (4); }
.push-5 { .push (5); }
.push-6 { .push (6); }
.push-7 { .push (7); }
.push-8 { .push (8); }
.push-9 { .push (9); }
.push-10 { .push (10); }
.push-11 { .push (11); }
.push-12 { .push (12); }
.push-13 { .push (13); }
.push-14 { .push (14); }
.push-15 { .push (15); }
.push-16 { .push (16); }
.push-17 { .push (17); }
.push-18 { .push (18); }
.push-19 { .push (19); }
.push-20 { .push (20); }
.push-21 { .push (21); }
.push-22 { .push (22); }
.push-23 { .push (23); }
.push-24 { .push (24); }

/* Border on right hand side of a column.
-------------------------------------------------------------- */
/* Border on right hand side of a column. */
.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #ddd;
  //border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column.
-------------------------------------------------------------- */
.colborder {
  @colwidth: @gridColumnWidth + @gridGutterWidth - 1;
  @colpadding: @colwidth / 2;
  padding-right: @colpadding;
  margin-right: @colwidth - @colpadding;
  border-right: 1px solid #ddd;
  //border-right: 1px solid #eee;
}

/* When the last column needs to be right aligned and remainder width.
-------------------------------------------------------------- */
.span-right { float: right; margin-right: 0; }

/* The last column in a row needs this class.
-------------------------------------------------------------- */
.last { margin-right: 0; }
