<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>SkyLine - Questionaire</title>
        <style>
            .PageGenerationMessage { display: none; }
        </style>
</head>

<body>

<div style="text-align: center;margin: 100px 0;font-size:20px">
     <img src="{$_subdomain}/images/brandLogos/{$logo}" style="margin-bottom:20px"> <br />
    Thank you for taking the time to complete this questionnaire, <br />
Your feedback is important and will help us to maintain a quality service.
</div>

</body>
</html>